/* SearchBar.css */

.center {
  text-align: center;
}

.searchContainer {
  display: flex; /* Χρησιμοποιήστε ευέλικτο διάταξη */
  align-items: center; /* Κεντράρει τα παιδικά στοιχεία κατά μήκος του άξονα των κατάθεσης */
}

.searchField {
  width: 35%;
  margin-right: 10px;
  color: white;
  background-color: white;
}


.searchButton {
  background-color: red;
  color: white;
  height: 55px;
}

.searchResultsContainer {
  max-height: 400px;
  overflow-y: auto;
}
